<template>
	<h2 class="margin-20">Lista cursuri Luni anul al II-lea semstrul I</h2>

	<div class="course-info-section margin-20">
		<div class="display-flex space-between">
			<div class="questions-section">
				<h3>Cursuri in desfasurare</h3>
				<div class="questions-card margin-top-10">
					<div onclick="openModal()" class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="ongoing"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="ongoing"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="ongoing"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="ongoing"></button>
					</div>

				</div>
			</div>
			<div class="questions-section">
				<h3>Cursuri care urmeaza astazi</h3>
				<div class="questions-card margin-top-10">
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="left"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="left"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="left"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="left"></button>
					</div>

				</div>
			</div>
			<div class="questions-section">
				<h3>Cursuri terminate astazi</h3>
				<div class="questions-card margin-top-10">
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="finished"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="finished"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="finished"></button>
					</div>
					<div class="question padding-10 margin-10">
						<a>DAWNC</a>
						<a>profesor - Buraga Sabin</a>
						<a>14:00-16:00</a>
						<a>sala C2 -> parter</a>
						<button class="finished"></button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="myModal" class="modal">
		<div class="modal-content">
			<a onclick="closeModal()">X</a>
			<div class="container">
				<h1>Dezvoltarea aplicatiilor la nivel de client</h2>
					<h2>profesor curs Sabin Buraga</h2>
					<h3>Se desfasoara in fiecare luni de la ora 14:00-16:00
						in sala de curs C410. </h3>
					<a class="details">Detalii :
						domnul profesor nu accepta intrarea in sala de curs dupa dumnealui,
						se necesita pentru o buna desfasurare a cursului un laptop, o foaie si un pix.Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin programele de publicare pentru calculator, ca Aldus PageMaker care includeau versiuni de Lorem Ipsum.
					</a>
					<button class="btn">In Desfasurare</button>
			</div>
		</div>
	</div>
</template>