
.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}


.flex-column {
    flex-direction: column;
}


.flex-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-flow: wrap;
}


.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}