
.menu-page {
    position: fixed;
    margin-top: 65px;
    height: 92.5vh;
    width: 240px;
}


.link-page:hover .link-element, .link-page:hover .link-icon {
    color: #0f9aee;
}

.link-page:hover {
    cursor: pointer;
}


.submenu-link {
    font-size: 15px;
}

.submenu-link:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .menu-page {
        display: none;
    }

    .visibility-menu {
        display: block;
    }
}