<template>
	<div class="courses-page">
		<h3 class="margin-left-10 margin-top-10">Cursurile mele</h3>
		<div class="courses display-flex flex-wrap">
			<div class="course margin-10 padding-10">
				<h4 onclick="document.location.href='http://localhost/FERT-%2520EasyFeedbackInRealTime/src/views/pages/professor/courses/current-course/index.html'">Dezvoltarea
					aplicatiilor Web la nivel de client</h4>
				<div class="display-flex space-between margin-top-5">
					<p>Sala C112</p>
					<p class="margin-left-10">Miercuri de la ora 12:30</p>
				</div>

			</div>

			<div class="course margin-10 padding-10">
				<h4 onclick="document.location.href='http://localhost/FERT-%2520EasyFeedbackInRealTime/src/views/pages/professor/courses/current-course/index.html'">Dezvoltarea aplicatiilor Web la nivel de client</h4>
				<div class="display-flex space-between margin-top-5">
					<p>Sala C112</p>
					<p class="margin-left-10">Miercuri de la ora 12:30</p>
				</div>

			</div>

			<div class="course margin-10 padding-10">
				<h4 onclick="document.location.href='http://localhost/FERT-%2520EasyFeedbackInRealTime/src/views/pages/professor/courses/current-course/index.html'">Dezvoltarea aplicatiilor Web la nivel de client</h4>
				<div class="display-flex space-between margin-top-5">
					<p>Sala C112</p>
					<p class="margin-left-10">Miercuri de la ora 12:30</p>
				</div>

			</div>

			<div class="course margin-10 padding-10">
				<h4 onclick="document.location.href='http://localhost/FERT-%2520EasyFeedbackInRealTime/src/views/pages/professor/courses/current-course/index.html'">Dezvoltarea aplicatiilor Web la nivel de client</h4>
				<div class="display-flex space-between margin-top-5">
					<p>Sala C112</p>
					<p class="margin-left-10">Miercuri de la ora 12:30</p>
				</div>

			</div>

			<div class="course margin-10 padding-10">
				<h4 onclick="document.location.href='http://localhost/FERT-%2520EasyFeedbackInRealTime/src/views/pages/professor/courses/current-course/index.html'">Dezvoltarea aplicatiilor Web la nivel de client</h4>
				<div class="display-flex space-between margin-top-5">
					<p>Sala C112</p>
					<p class="margin-left-10">Miercuri de la ora 12:30</p>
				</div>

			</div>

			<div class="course margin-10 padding-10">
				<h4 onclick="document.location.href='http://localhost/FERT-%2520EasyFeedbackInRealTime/src/views/pages/professor/courses/current-course/index.html'">Dezvoltarea aplicatiilor Web la nivel de client</h4>
				<div class="display-flex space-between margin-top-5">
					<p>Sala C112</p>
					<p class="margin-left-10">Miercuri de la ora 12:30</p>
				</div>

			</div>
			<div class="course margin-10 padding-10">
				<h4 onclick="document.location.href='http://localhost/FERT-%2520EasyFeedbackInRealTime/src/views/pages/professor/courses/current-course/index.html'">Dezvoltarea aplicatiilor Web la nivel de client</h4>
				<div class="display-flex space-between margin-top-5">
					<p>Sala C112</p>
					<p class="margin-left-10">Miercuri de la ora 12:30</p>
				</div>

			</div>

			<div class="course margin-10 padding-10">
				<h4 onclick="document.location.href='http://localhost/FERT-%2520EasyFeedbackInRealTime/src/views/pages/professor/courses/current-course/index.html'">Dezvoltarea aplicatiilor Web la nivel de client</h4>
				<div class="display-flex space-between margin-top-5">
					<p>Sala C112</p>
					<p class="margin-left-10">Miercuri de la ora 12:30</p>
				</div>

			</div>
		</div>
	</div>

</template>