<template>
    <div class="wainting-persons-section margin-top-20 margin-left-20">
        <h4>Studenti blocati</h4>
        <div class="waiting-persons margin-top-10">
            <input type="text" placeholder="Cauta studenti">
            <div class="list-persons">
                <div class="person padding-5 display-flex space-between">
                    <p class="name">Ana Blandiana</p>
                    <div class="display-flex">
                        <i class="accept fas fa-plus"></i>
                    </div>

                </div>
                <div class=" person padding-5 display-flex space-between">
                    <p class="name">Ana Blandiana</p>
                    <div class="display-flex">
                        <i class="accept fas fa-plus"></i>
                    </div>
                </div>
                <div class="person padding-5 display-flex space-between">
                    <p class="name">Ana Blandiana</p>
                    <div class="display-flex">
                        <i class="accept fas fa-plus"></i>
                    </div>
                </div>
                <div class=" person padding-5 display-flex space-between">
                    <p class="name">Ana Blandiana</p>
                    <div class="display-flex">
                        <i class="accept  fas fa-plus"></i>
                    </div>
                </div>
                <div class="person padding-5 display-flex space-between">
                    <p class="name">Ana Blandiana</p>
                    <div class="display-flex">
                        <i class="accept fas fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>