<template>
    <div class="wainting-persons-section margin-top-20 margin-left-20">
        <h4>Sali disponibile</h4>
        <div class="waiting-persons margin-top-10">
            <input type="text" placeholder="Cauta o sala">
            <div class="list-persons">
                <div class="person padding-5 display-flex space-between">
                    <p class="name">Sala C2, etaj 3, numar 200 locuri</p>
                    <div class="display-flex">
                        <i class="ban fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="person padding-5 display-flex space-between">
                    <p class="name">Sala C2, etaj 3, numar 200 locuri</p>
                    <div class="display-flex">
                        <i class="ban fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="person padding-5 display-flex space-between">
                    <p class="name">Sala C2, etaj 3, numar 200 locuri</p>
                    <div class="display-flex">
                        <i class="ban fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="person padding-5 display-flex space-between">
                    <p class="name">Sala C2, etaj 3, numar 200 locuri</p>
                    <div class="display-flex">
                        <i class="ban fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>