.new-course {
    background-color: white;
    border: 1px solid #e6ecf5;
    border-radius: 3px;
    padding: 30px;
}


.info-new-course {
    width: 700px;
}

.setting-new-course {
    width: 500px;
}

.description {
    resize: vertical;
    font-family:inherit;
}

.oneFromThree {
    width: 30%;
}



.setting-new-course {
    margin-left: 20px;
}

@media only screen and (max-width: 1361px) {
    .setting-new-course {
        margin-left: 0;
        margin-top: 10px;
    }
}