<template>
	<div class="margin-20">
		<h4>Adauga un nou curs</h4>
		<div class="new-course margin-top-10">
			<form>
				<div class="display-flex flex-wrap space-between align-start">
					<div class="info-new-course">
						<div class="display-flex flex-column ">
							<label>Nume curs</label>
							<input type="text" placeholder="Nume curs">
						</div>
						<div class="display-flex flex-column margin-top-10">
							<label>Descriere</label>
							<textarea class="description" type="text" placeholder="Descriere" rows="5"></textarea>
						</div>
						<div class="display-flex space-between margin-top-10">
							<div class="oneFromThree">
								<label>Data</label>
								<input type="text" placeholder="Data">
							</div>
							<div class="oneFromThree">
								<label>Ora</label>
								<input type="text" placeholder="Ora">
							</div>
							<div class="oneFromThree">
								<label>Sala</label>
								<input type="text" placeholder="Sala">
							</div>
						</div>
						<button type="button" onclick="openModal()" class="button button-info margin-top-10">Editeaza profesori</button>
					</div>
					<div class="setting-new-course">
						<div class="display-flex flex-column">
							<label>Numarul de raspunsuri negative ale unei intrebari</label>
							<div class="display-flex align-center">
								<input class="percentage" type="number" min="0" max="100">
								<p class="margin-left-5">% dintre studentii prezenti</p>
							</div>

						</div>
						<div class="display-flex flex-column margin-top-10">
							<label>Numarul de raspunsuri corecte ale unui quiz</label>
							<div class="display-flex align-center">
								<input class="percentage" type="number" min="0" max="100">
								<p class="margin-left-5">% dintre studentii prezenti</p>
							</div>
						</div>
					</div>
				</div>
				<div class="display-flex flex-end align-center">
					<button type="submit" class="button button-danger margin-top-10">Anuleaza</button>
					<span class="margin-left-5 margin-right-5"> sau </span>
					<button type="submit" class="button button-submit margin-top-10">Salveaza</button>
				</div>

			</form>
		</div>
	</div>
</template>