<template>
        <div class="title">
                <h3>Marti 16:00-18:00</h3>
                <h1 class="title-center">DAWNC</h1>
                <h3>C2</h3>
        </div>
        <div class="subtitle">profesor Sabin Buraga</div>
        <div class="question"><input class="area" placeholder="Adauga o intrebare..." />
                <button class="btn">Anonim<input type="checkbox" /></button>
                <button class="btn" id="submit" type="submit">Trimite</button>
        </div>
        <div class="questions-container">
                <div class="prof-question">
                        <div class="prof-question-card">
                                <div class="title">
                                        <h4>Pentru Studenti</h4>
                                        <h3 class="title-center">Ce sunt microserviciile?</h3>
                                        <h4>Varlan Cosmin</h4>
                                </div>
                                <div class="answers">
                                        <div class="bttn">A. Niste servicii mici</div>
                                        <div class="bttn">B. Niste servicii mici</div>
                                        <div class="bttn">C. Niste servicii mici</div>
                                        <div class="bttn">D. Niste servicii mici</div>
                                </div>
                        </div>

                        <div class="prof-question-card">
                                <div class="title">
                                        <h4>Pentru Studenti</h4>
                                        <h3 class="title-center">Ce sunt microserviciile?</h3>
                                        <h4>Varlan Cosmin</h4>
                                </div>
                                <div class="answers">
                                        <div class="bttn">A. Niste servicii mici</div>
                                        <div class="bttn">B. Niste servicii mici</div>
                                        <div class="bttn">C. Niste servicii mici</div>
                                        <div class="bttn">D. Niste servicii mici</div>
                                </div>
                        </div>
                        <div class="prof-question-card">
                                <div class="title">
                                        <h4>Pentru Studenti</h4>
                                        <h3 class="title-center">Ce sunt microserviciile?</h3>
                                        <h4>Varlan Cosmin</h4>
                                </div>
                                <div class="answers">
                                        <div class="bttn">A. Niste servicii mici</div>
                                        <div class="bttn">B. Niste servicii mici</div>
                                        <div class="bttn">C. Niste servicii mici</div>
                                        <div class="bttn">D. Niste servicii mici</div>
                                </div>
                        </div>
                </div>
                <div class="student-question">
                        <div class="student-question-card">
                                <div class="title">
                                        <h4>Pentru Profesor</h4>
                                        <h3 class="title-center">Puteti repeta microserviciile?</h3>
                                        <h4>Hurbea Razvan</h4>
                                </div>
                                <div class="answers">
                                        <div class="bttn2">
                                                <section class="votes">
                                                        <p>4 Voturi</p>
                                                        <p>Am inteles</p>
                                                </section>
                                        </div>
                                        <div class="bttn2">
                                                <section class="votes">
                                                        <p>6 Voturi</p>
                                                        <p>N-Am inteles</p>
                                                </section>
                                        </div>
                                </div>
                        </div>
                        <div class="student-question-card">
                                <div class="title">
                                        <h4>Pentru Profesor</h4>
                                        <h3 class="title-center">Puteti repeta microserviciile?</h3>
                                        <h4>Anonim</h4>
                                </div>
                                <div class="answers">
                                        <div class="bttn2">
                                                <section class="votes">
                                                        <p>4 Voturi</p>
                                                        <p>Am inteles</p>
                                                </section>
                                        </div>
                                        <div class="bttn2">
                                                <section class="votes">
                                                        <p>6 Voturi</p>
                                                        <p>N-Am inteles</p>
                                                </section>
                                        </div>
                                </div>
                        </div>
                        <div class="student-question-card">
                                <div class="title">
                                        <h4>Pentru Profesor</h4>
                                        <h3 class="title-center">Puteti repeta microserviciile?</h3>
                                        <h4>Anonim</h4>
                                </div>
                                <div class="answers">
                                        <div class="bttn2">
                                                <section class="votes">
                                                        <p>4 Voturi</p>
                                                        <p>Am inteles</p>
                                                </section>
                                        </div>
                                        <div class="bttn2">
                                                <section class="votes">
                                                        <p>6 Voturi</p>
                                                        <p>N-Am inteles</p>
                                                </section>
                                        </div>
                                </div>
                        </div>
                        <div class="student-question-card-empty"></div>
                </div>
        </div>

</template>