
.course-info-section {
    background-color: white;
    border: 1px solid #e6ecf5;
    border-radius: 3px;
    padding: 30px;
   
}

.question-section {
    width: 100%;
}

.questions-card {
    width: 500px;
    height: 70vh;
    overflow-y: scroll;
}

.questions-card .question {
    border: 1px solid #e6ecf5;
    border-radius: 3px;
}

.questions-card .question:hover input {
   visibility: visible;
}

.setting-course {
    width: 400px;
    height: 700px;
}