<template>
	<h4 class="margin-top-20 margin-left-20">Tehnologii web</h4>
	<div class="course-info-section margin-left-20 margin-top-10 margin-right-20">
		<div class="display-flex space-between">
			<div class="questions-section">
				<h4>Intrebari primite</h4>
				<div class="questions-card margin-top-10">
					<div class="question padding-10 margin-10 display-flex space-between">
						<p>Ce sunt microserviciile?</p>
						<input type="checkbox" class="form-checkbox visibility-hidden">
					</div>
					<div class="question padding-10 margin-10 display-flex space-between">
						<p>Internet tind să repete bucăţi de text în funcţie de necesitate, astfel făc?</p>
						<input type="checkbox" class="form-checkbox visibility-hidden">
					</div>
					<div class="question padding-10 margin-10 display-flex space-between">
						<p>Eistă o mulţime de variaţii disponibile ale pasajelor Lorem Ipsum, dar majoritatea lor au
							suferit?</p>
						<input type="checkbox" class="form-checkbox visibility-hidden">
					</div>
					<div class="question padding-10 margin-10 display-flex space-between">
						<p>Ce sunt microserviciile?</p>
						<input type="checkbox" class="form-checkbox visibility-hidden">
					</div>
					<div class="question padding-10 margin-10 display-flex space-between">
						<p>Ce sunt microserviciile?</p>
						<input type="checkbox" class="form-checkbox visibility-hidden">
					</div>

				</div>
			</div>
			<div>
				<div class="questions-section">
					<h4>Intrebari puse</h4>
					<div class="questions-card margin-top-10">
						<div class="question padding-10 margin-10">
							<p>Ce sunt microserviciile?</p>
						</div>
						<div class="question padding-10 margin-10">
							<p>Internet tind să repete bucăţi de text în funcţie de necesitate, astfel făc?</p>
						</div>
					</div>
				</div>
				<div class="display-flex flex-end margin-top-20">
					<button class="button button-info margin-right-20">Adauga o intrebare</button>
				</div>
			</div>
			<div>
				<div class="setting-course border-left">
					<h4 class="margin-left-10">Setarile cursului</h4>
					<div class="display-flex flex-column margin-20">
						<label>Numarul de raspunsuri negative ale unei intrebari</label>
						<div class="display-flex align-center">
							<input class="percentage" type="number" min="0" max="100">
							<p class="margin-left-5">% dintre studenti</p>
						</div>

					</div>
					<div class="display-flex flex-column margin-20">
						<label>Numarul de raspunsuri corecte ale unui quiz</label>
						<div class="display-flex align-center">
							<input class="percentage" type="number" min="0" max="100">
							<p class="margin-left-5">% dintre studenti</p>
						</div>
					</div>
					<button onclick="openModal()" class="button button-info margin-left-20">Editeaza profesori</button>
				</div>
				<div class="display-flex flex-end">
					<button class="button button-submit margin-left-20">Salveaza</button>
				</div>

			</div>
		</div>

	</div>

</template>