<template>
    <div class="add-new-classroom-section margin-left-20 margin-top-20 margin-right-20">
        <h4>Adauga o sala de curs</h4>
        <form>
            <div class="new-classroom align-end margin-top-20">

                <div class="display-flex flex-column margin-right-10">
                    <label>Nume sala</label>
                    <input type="text" placeholder="Nume sala">
                </div>
                <div class="display-flex flex-column margin-right-10">
                    <label>Etaj</label>
                    <input type="text" placeholder="Etaj">
                </div>
                <div class="display-flex flex-column margin-right-10 ">
                    <label>Numar de locuri</label>
                    <input type="text" placeholder="Numar de locuri">
                </div>
                <button type="submit" class="button button-submit">Salveaza</button>
            </div>
        </form>
    </div>
</template>