
.edit-professors-section {
    background-color: white;
    border: 1px solid #e6ecf5;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    height:80%;
    overflow-y: scroll;
}

.list-professors {
    background-color: white;
    border: 1px solid #e6ecf5;
    border-radius: 3px;
    padding: 10px;

    height: 400px;
    overflow-y: scroll;
}

.find-professors, .actual-professors {
    width: 100%;
    max-width: 400px;
}

.professor {
    cursor: pointer;
}

.professor i {
    visibility: hidden;
    color: #0f9aee;
}

.professor:hover i{
    visibility: visible;
}

.professor:hover p {
    color: #0f9aee;
}

.actual-professors {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .edit-professors-section {
        flex-direction: column;
    }

    .list-professors {
        height: 200px;
    }

    .actual-professors {
        margin-left: 0px;
        margin-top: 10px;
    }
}