<template>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span onclick="closeModal()" class="close">&times;</span>
            <h4>Editeaza profesori colaboratori</h4>
            <div class="edit-professors-section margin-top-10">
                <div class="find-professors">
                    <h5>Adauga profesori:</h5>
                    <input type="text" placeholder="Cauta profesori">
                    <div class="list-professors">
                        <div class="professor padding-5 display-flex space-between">
                            <p class="name">Ana Blandiana</p>
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class=" professor padding-5 display-flex space-between">
                            <p class="name">Ana Blandiana</p>
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="professor padding-5 display-flex space-between">
                            <p class="name">Ana Blandiana</p>
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class=" professor padding-5 display-flex space-between">
                            <p class="name">Ana Blandiana</p>
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="professor padding-5 display-flex space-between">
                            <p class="name">Ana Blandiana</p>
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="actual-professors">
                    <h5>Profesori colaboratori:</h5>
                    <input type="text" placeholder="Cauta profesori">
                    <div class="list-professors">
                        <div class="professor padding-5 display-flex space-between">
                            <p class="name">Ana Blandiana</p>
                            <i class="fas fa-minus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-modal display-flex flex-end align-center margin-right-10">
                <button onclick="closeModal()" type="submit" class="button button-danger margin-top-10">Anuleaza</button>
                <span class="margin-left-5 margin-right-5"> sau </span>
                <button onclick="closeModal()" type="submit" class="button button-submit margin-top-10">Salveaza</button>
            </div>
        </div>

    </div>
S
</template>