<template>
    <div class="statistics-section margin-top-20 margin-right-20">
        <h3>Statistici</h3>
        <div class="statistic margin-top-10 display-flex flex-column align-center justify-center">
            <h4>Media studentilor care au inteles:</h4>
            <p class="margin-top-20">Tehnologii web: 67%</p>
            <p class="margin-top-10">Dezvoltarea aplicatiolor: 67%</p>
            <p class="margin-top-10">Ceretare web: 17%</p>
        </div>
        <div class="statistic margin-top-10 display-flex flex-column align-center justify-center margin-bottom-20">
            <h4 class="text-center">Media numarului de studenti la cursuri:</h4>
            <p class="margin-top-20">Tehnologii web: 83</p>
            <p class="margin-top-10">Dezvoltarea aplicatiolor: 56</p>
            <p class="margin-top-10">Ceretare web: 15</p>
        </div>
    </div>
</template>